<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  crossorigin="anonymous">
        <!-- JS, Popper and JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"  crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"  crossorigin="anonymous"></script>
        <!-- <meta http-equiv="refresh" content="5">  -->
        <title>BLE</title>
        <style>
        .navbar-inverse {
                font: 20px Montserrat, sans-serif;
                line-height: 1.8;
                color: #f5f6f7;
        }
        .bg-1 {
                background-color: #1abc9c; /* Green */
                color: #ffffff;
        }
        </style>
        <script type="text/javascript">
                function actualizar() {
                // alert("Calibrando");
                        console.log("click");
                 debugger;
                 a=$('#IDCalibrar').val();
                 $.ajax({
                         method: 'POST',
                         url: '/calibrador',
                         data: {},
                 dataType: "json",
                 success: function(response) {
                         $('#outputR').val(response.resultado);
                 }
                }); 
                setTimeout(aviso,15)
                }
                function aviso(){
                        window.location.reload();
                }
        </script>
</head>
<body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">BLE</a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav">
                                      <li><a href="#">Aplicación</a></li>
                                      <li><a href="#">Contáctenos</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                                </ul>
                        </div>
                </div>
        </nav>

        <!-- <div class="container-fluid bg-1 text-center">
                <img src="bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="BLE" width="350" height="350">
        </div> Tengo que agregar  -->

        <div class="container">
                <div class="row">
                        <!-- <div class="col-sm-8">            -->
                                <form class="form-inline" action="/" method="POST">
                                        <div class="col-sm-8">
                                        <h3>Ingrese ID</h3>
                                        <div class="form-group">
                                                <label for="ID">ID:</label>
                                                <input type="text" class="form-control" id="ID" name="ID" placeholder="Ingrese ID">
                                        </div>
                                        <div class="form-group">
                                                <label for="sel1">Intervalo de muestreo</label>
                                                <select class="form-control" id="seg", name="seg">
                                                        <option value=2>2 seg</option>
                                                        <option value=5>5 seg</option>
                                                        <option value=10>10 seg</option>
                                                        <option value=20>20 seg</option>
                                                </select>
                                                <button type="submit" class="btn btn-success">Aceptar</button>
                                        </div>
                                        </div>
                                        <!-- <div class="col-sm-4">
                                        </div> -->
                              </form>
                        </div>
                </div>
        </div>
        <br>
        <br>
        {% if calibrado == True %}
        <div class="container-fluid">
                <h2>Datos del objeto {{IDBeacon}} </h2>
                <div id="tablaRefresh" class="table-responsive">
                        <table class="table table-condensed">
                        <thead>
                                <th>ID</th>
                                <th>Fuerza de la señal (RSSI)</th>
                                <th>Distancia</th>
                                <th>Acercamiento</th>
                        </thead>
                        <tbody>
                                <tr>
                                <th>{{IDBeacon}}</th>
                                        <td>{{rssi}}</td>
                                        {% if calibrado == True %}
                                        <td>{{distancia}}</td>
                                        <td>{{acercamiento}}</td>
                                        {% else %}
                                        <td> Desconocida </td>
                                        <td> Desconocido </td>
                                        {%endif%}
                                </th>
                                </tr>
                        </tbody>
                        </table>
                         <!-- Refresco de tabla con JQuery y ajax -->
                         <!-- <script type="text/javascript">
                                $(document).ready(function () {
                                        refresh();
                                });
                                function refresh() {
                                        setInterval(function () {
                                                $('#tablaRefresh').load(' #tablaRefresh');
                                                refresh();
                                        },2000);
                                }
                        </script> -->
                </div>
                {% elif calibrado == False%}
                <h2>El ID ingresado no se encuentra en nuestro Sistema.</h2>
                <h3>Calibre su Beacon en el sistema.</h3>
                <form action="/calibrador">
                        <button id="boton" name="calibrar"type="button" value="1" class="btn btn-info" onclick="actualizar()">Calibrar!</button>
                </form>
                {%endif%}    
       </div>   
</body>
</html>
