<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  crossorigin="anonymous">
        <!-- JS, Popper and JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"  crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"  crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <!-- <meta http-equiv="refresh" content="5">  -->
        <title>BLE</title>
        <style>
        .navbar-inverse {
                font: 20px Montserrat, sans-serif;
                line-height: 1.8;
                color: #f5f6f7;
        }
        .bg-1 {
                background-color: #1abc9c; /* Green */
                color: #ffffff;
        }
        </style>
        <script type="text/javascript">
                function actualizar() {
                // alert("Calibrando");
                        //console.log("click");
                        //a=$('#IDCalibrar').val();
                        debugger;
                        $.ajax({
                                method: 'POST',
                                url: '/calibrador',
                                data: {},
                                dataType: "json"
                             });
                        setTimeout(aviso,40)
                }
                function aviso(){
                        window.location.reload();
                }
        </script>
</head>
<body>
  <br>
  <br>
    <div class="container">
        <div class="text-center">
              <form class="form-inline" action="/" method="POST">
                  <p> Ingrese el identificador de 8 digitos y seleccione el tiempo de muestreo a considerar. </p>
                  <div class="form-group">
                      <input type="text" class="form-control" id="ID" name="ID" placeholder="Ingrese su identificador">
                  </div>
                  <div class="form-group">
                      <select class="form-control" id="seg", name="seg">
                              <option value=2>2 seg</option>
                              <option value=5>5 seg</option>
                              <option value=10>10 seg</option>
                              <option value=20>20 seg</option>
                      </select>
                      <button type="submit" class="btn btn-success">Aceptar</button>
                  </div>
            </form>
        </div>
  <br>
  <br>
        {% if rssi > 0 %}
        <div id="divRefresh" class="text-center">
                <div id="tabla">
                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                                <th class="text-center">Identificador</th>
                                <th class="text-center">Intensidad de la señal (RSSI)</th>
                                <th class="text-center">Distancia</th>
                                <th class="text-center">Acercamiento</th>
                        </thead>
                        <tbody>
                                <tr>
                                <td class="text-center">{{IDBeacon}}</td>
                                <td class="text-center"> {{ "%.1f" % rssi}} </td>
                                {% if distancia != 99999.99 %}
                                <td class="text-center">{{ "%.1f" % distancia}}</td>
                                <td class="text-center">{{acercamiento}}</td>
                                {% else %}
                                <td class="text-center"> Desconocida </td>
                                <td class="text-center"> Desconocido </td>
                                {%endif%}
                                </tr>
                        </tbody>
                    </table>
                  </div>
                  <p> Si desea calibrar su beacon ubíquelo a una distancia de 1 metro y pulse el botón. </p>
                  <p> Luego aguarde 40 segundos hasta finalizar la calibración. </p>
                  <form action="/calibrador"> <button id="boton" type="submit" value="1" class="btn btn-info" onclick="actualizar()">Calibrar</button> </form> </td>
        </div>
                  <!-- Refresco de tabla con JQuery y ajax -->
                 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                 <script type="text/javascript">
                         $(document).ready(function () {
                           refresh();
                         });
                        function refresh() {
                            setTimeout(function () {
                              $('#divRefresh').load(' #divRefresh');
                              refresh();
                            }, 2000);
                        }
                </script>
        {% elif IDBeacon != "00000000" and rssi == 0 %}
        <h2 class="text-center">El dentificador ingresado no se ha podido localizar.</h2>
        {%endif%}
    </div>
</html>
